* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box
}

:root {
  --clr0: #00ff55;
  --clr1: #272727;
  --clr2: #212121;
}

body {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-family: monospace, Geneva, Tahoma, sans-serif;
  background-color: var(--clr1);
}

h1 {
  text-transform: uppercase;
}

textarea, input, button {
  color: white;
  background-color: var(--clr1);
  border: none;
}

:is(textarea, input, button):focus {
  outline: none;
}

.box {
  width: 400px;
  padding: 1rem 2rem;
  background-color: var(--clr2);
  border-top: 2px solid var(--clr0);
  display: flex;
  flex-direction: column;
}

.box textarea {
  padding: 1rem;
  height: 200px;
  word-break: break-all;
  border: 1px solid transparent;
  resize: none;
}

.box textarea:disabled {
  border-color: var(--clr0);
}

.options {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.options > * {
  padding: 1rem;
}

.options > *:hover {
  cursor: pointer;
  color: var(--clr0);
}